* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-family: 'Roboto', sans-serif;
  --textColor: #444
}

body {
  font-family: var(--font-family);
  color: var(--textColor);
}

ul {
  list-style: none;
}

.page {
  width: 100%;
}

.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}

.titleApp {
  font-size: 30px;
}

.header-container{
  height: 200px;
  background-color: #437997;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  .header-top {
    width: 100%;
    position: relative;
    .menu {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
    }
    .addTodo {
      height: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  }

  .header-bottom {
    margin: auto;
    input {
      background-image: url('./assets/images/todo-app/searchIcone.png');
      background-position: 95% 50%;
      background-repeat: no-repeat;
      background-size: 20px;
      height: 35px;
      width: 270px;
      border-radius: 100px;
      border: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      padding-left: 15px;
    }
  }
}

.addModale {
  width: 600px;
  height: 150px;
  position: absolute;
  background-color: white;
  top: 30%;
  left: 50%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  transform: translateX(-50%);
  display: flex;
  .containerModale {
    z-index: 0;
    padding: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .closeModale {
      z-index: 1;
      position: absolute;
      top: 5px;
      right: 5px;
      height: 20px;
      cursor: pointer;
    }
  }
}


.d-flex {
  display: flex ;
}

.center {
  justify-content: center;
}

.p-t20 {
  padding-top: 20px;
}

.debug {
  border: solid black 1px;
}

.hoverDepartementInfo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  .departementNumber {
    height: 25px;
    width: 25px;
    color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 3px;
    &.found {
      background-color: #a7c886ed;
    }
    &.notFound {
      background-color: #c88686ed;
    }
  }
  .departementName {
    height: 25px;
    width: 200px;
    border-radius: 3px;
    text-align: center;
    padding-top: 3px;
    &.found {
      color: #70875b;
      background-color: #a7c88629;
    }
    &.notFound {
      color: #875b5b;
      background-color: #c8868629;
    }
  }
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #cbcbcb;
}
::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}
