.geoQuizzContainer {
  position: absolute;
  height: 100%;
  min-height: 300px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 3% 5% 3% 5%;
}

.gameBoard {
  flex-basis: 65%;
}

.dashBoard {
  flex-basis: 35%;
}

.debug {
  border: 1px black solid;
}
