.geoQuizzContainer {
  position: absolute;
  height: 100vh;
  min-height: 300px;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  padding: 3% 5% 3% 5%;
}

.gameBoard {
  flex-basis: 65%;
}

.dashBoard {
  flex-basis: 35%;
}

.debug {
  border: 1px black solid;
}

@media only screen and (max-width: 850px){
  .gameBoard {
    flex-basis: 100%;
  }
  .dashBoard {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 80vh;
    display: none;
  }
}
