svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #fff;
  .polygonInGame{
    fill:#ffffff;
    stroke:rgb(255, 255, 255);
    stroke-width:0.005;
    &.notFound{
      fill: #c88686ed;
    }
    &.found{
      fill: #a7c886ed;
    }
  }
  .polygonStart{
    fill:#ffffff;
    stroke:rgb(41, 41, 41);
    stroke-width:0.003;
  }
}

