<h2>Meilleurs scores</h2>
<table>
  <!-- <tbody>
    <th>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="rowContainer">
          <div class="circleProgress">
            <round-progress [current]="78" [max]="100"
            [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="15" [stroke]="5"></round-progress>
          </div>
          <div class="date_scor">
            <p class="date">10/04/2023 - 23:34:08</p>
            <p class="scor">100% en 9:45min</p>
          </div>
        </div>
      </tr>
    </th>
  </tbody> -->
</table>
<div class="detail">
  <div class="leftDetail">
    <div class="hoverDepartment">
      <p>23 Test</p>
    </div>
    <round-progress [current]="78" [max]="100"
      [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="40" [stroke]="10">
    </round-progress>
  </div>
  <div class="mapContainer">
    <!-- <app-map
    [showNotFound]="true"
    polygonClass="polygonInGame"
    [foundDepartements]="foundDepatments">
    </app-map> -->
  </div>
</div>
