<div class="gameBoardContainer">
  <div class="mapContainer">
    <!-- <app-map
      [showNotFound]="true"
      polygonClass="polygonStart"
      [foundDepartements]="foundDepartements">
    </app-map> -->
    <div class="startGameContainer">
      <h1>Jouer au jeux des départements !</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis sapiente nulla, ratione totam natus suscipit blanditiis, consectetur odio omnis repudiandae eveniet molestiae exercitationem commodi illo debitis! Perspiciatis architecto expedita qui.</p>
      <button (click)="startGame()">START</button>
    </div>
  </div>
</div>
