//voire se qu'il y a a enlever en trop

.gameBoardContainer {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.mapContainer {
    width: 85%;
    height: calc(100% - 40px);
    object-fit: contain;
}

.inputsGame {
  position: relative;
  form {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 40px;
    object-fit: contain;
    padding-right: 40px;
    input {
      height: 30px;
      padding-left: 10px;
      border: 0.1px rgba(0, 0, 0, 0.5) solid;
      border-radius: 3px;
    }
    button {
      cursor: pointer;
      height: 30px;
      width: 30px;
      background-color: #fff;
      border: 0.1px rgba(0, 0, 0, 0.5) solid;
      border-radius: 3px;
      &.surrend {
        background-color: #E82626;
        color: #fff;
        border: none;
        width: 100px;
        padding: 0px 8px;
      }
    }
  }
  .chrono {
    position: absolute;
    top: -40px;
    font-size: 30px;
    opacity: 80%;
  }
}

.debug2 {
  border: 1px rgb(240, 0, 0) solid;
}


.scoreGame {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 15%;
  .scores {
    display: flex;
    .roundProgress {
      margin-right: 20px;
    }
    .score {
      font-size: 20px;
      margin-right: 20px;
    }
  }
  button {
    cursor: pointer;
    border: none;
    color: #fff;
    height: 30px;
    width: 100px;
    background-color: #3fbd52;
    border-radius: 3px;
  }
}
