<div class="gameBoardContainer">
  <div class="mapContainer">
    <div class="hoverDepartementInfo" *ngIf="codeDepartmentHover !== 0 ">
      <div [ngClass]=" departmentHoverIsFound ? 'departementNumber found' : 'departementNumber notFound'">{{codeDepartmentHover}}</div>
      <div [ngClass]=" departmentHoverIsFound ? 'departementName found' : 'departementName notFound'">{{nameDepartmentHover}}</div>
    </div>
    <app-map
      [showNotFound]="showNotFound"
      polygonClass="polygonInGame"
      (eventHoverDepartment)="HoverDepartment($event)"
      [foundNumbersDepartements]="foundNumbersDepartements">
    </app-map>
  </div>
  <div *ngIf="!showNotFound else endGame" class="inputsGame">
    <form [formGroup]="inputDepartementForm">
      <input type="text" placeholder="Département" formControlName="inputDepartements">
      <button >| |</button>
      <button class="surrend" (click)="stopGame()">Abandonner</button>
    </form>
    <div class="chrono">{{timeLeaving | date:'mm:ss:SSS'}}</div>
  </div>
  <ng-template #endGame>
    <div class="scoreGame">
      <div class="scores">
        <round-progress class="roundProgress" [current]="foundNumbersDepartements.length" [max]="100"
        [color]="'#a7c886ed'" [background]="'#c88686ed'" [radius]="25" [stroke]="8"></round-progress>
        <div class="score">
          <p>{{percentage}}%</p>
          <p>9:45min</p>
        </div>
      </div>
      <button (click)="restartGame()">RETRY</button>
    </div>
  </ng-template>
</div>
