//voire se qu'il y a a enlever en trop

.gameBoardContainer {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mapContainer {
    width: 85%;
    height: calc(100% - 40px);
    object-fit: contain;
  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fff;
    polygon {
      fill:#a7c886;
      stroke:rgb(255, 255, 255);
      stroke-width:0.01
    }
  }
}

.inputsGame {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 40px;
  object-fit: contain;
  position: relative;
  padding-right: 40px;
  input {
    height: 30px;
    padding-left: 10px;
    border: 0.1px rgba(0, 0, 0, 0.5) solid;
    border-radius: 3px;
  }
  button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 0.1px rgba(0, 0, 0, 0.5) solid;
    border-radius: 3px;
    &.surrend {
      background-color: #E82626;
      color: #fff;
      border: none;
      width: 100px;
      padding: 0px 8px;
    }
  }
  .chrono {
    position: absolute;
    top: -40px;
    font-size: 30px;
    opacity: 80%;
  }
}



.debug2 {
  border: 1px rgb(240, 0, 0) solid;
}
