<div class="gameBoardContainer">
  <div class="mapContainer">
    <div class="hoverDepartementInfo">
      <div class="departementNumber">33</div>
      <div class="departementName">Bouches du Rhône</div>
    </div>
    <app-map [foundDepartements]="foundDepartements"></app-map>
  </div>
  <div class="inputsGame ">
    <form [formGroup]="inputDepartementForm">
      <input type="text" placeholder="Département" formControlName="inputDepartements">
      <button >| |</button>
      <button class="surrend">Abandonner</button>
    </form>
    <div class="chrono">09:30:345</div>
  </div>
</div>
