<div class="containerModaleTodoNote">
  <form (ngSubmit)="sublite()" [formGroup]="TodoNoteForm">
    <input class="inputNameTodoNote" formControlName="elementTitle" type="text" placeholder="Nouvel element">
    <div class="modalBottom">
      <select class="select" formControlName="elementType">
        <option value="" disabled>Type</option>
        <option value="todo">Todo</option>
        <option value="note">Note</option>
      </select>
      <button class="btnSubmitNewTodoNote">Valider</button>
    </div>
  </form>
</div>
